/**

	Product wizard - 02/09/2014
	A.S.Adventure

**/

/* import breakpoiints */

@import "breakpoints";

/**

	Fixes 02/09:
	- Remove cursor:pointer
	- Remove padding from .content_detail_campaign (15px 0)
	- remove margin-left .cotnent_detail_campaign .row

**/

.product_wizard.product_wizard {
	cursor: default !important;
}

.content_detail_campaign.content_detail_campaign {
	padding: 0 15px;
}

.content_detail_campaign.content_detail_campaign .row {
	margin-left: 0;
}

// product detail

#content_block_pdt .pdt_block_product_wizard.pdt_block_product_wizard {
    @include breakpoint(mama-bear) {
        width: 280px;
        padding-left: 30px;
    }
    @include breakpoint (stiff-mama-bear) {
        width: 200px;
        padding-left: 30px;
    }
}

/*=============================================
=            CONTAINER				            =
=============================================*/

 #product-wijzer-container {
    margin: 0;
    padding: 0;
}
#product-wijzer-container .container-wrapper {
    max-width: 100%;
    margin: 0;
    @include breakpoint (baby-bear) {
        max-width: 100%;
        margin: 0;
    }
    @include breakpoint (mama-bear) {
        max-width: 100%;
        margin: 0;
    }
    height:auto;
    border:1px solid #d7dbdd;
    background: #fff;
}
#product-wijzer-container .container-wrapper .title-container {
    width: auto;
    height: 100%;
    padding-top: 5px;
    h4 {
        font-size: 15px;
        line-height: 25px;
        margin: 5px 0 0 10px;
    }
    &:after {
        display: none;
    }
}

/*-----  End of #container  ------*/

/*=============================================
=            	SECTION CTA  			       =
=============================================*/

#product-wijzer-container .container-wrapper .sections-container .cta {
    position: relative;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: block;
    vertical-align: middle;
    line-height: 36px;
    font-family: 'proxima_nova_rgbold', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    font-weight: 600;
    width: 80%;
    height: 35px;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding-left: 13px;
    margin: 14px auto;
    	@include breakpoint (mama-bear) {
    		margin: 6px auto;
    	}
    	@include breakpoint (stiff-mama-bear) {
    		width: 90%;
    		margin: 10px auto;
    	}
    	@include breakpoint (baby-bear) {
			line-height: 26px;
			margin: 10px auto;
			height: 27px;
    	}
    .rugzak {
        background: red;
    }
    &:after {
        content: "";
        /* box */
        width: 40px;
        height: 35px;
        @include breakpoint (baby-bear) {
        	height: 25px;
        }
        float: right;
        /* background */
        background: url('https://static.asadventure.com/includes/visuals/product-wizard/contentpage_html/images/arrow-white.png') no-repeat center center;
    }
    &:hover {}
}

#product-wijzer-container .container-wrapper .sections-container {
        img {
        float: left;
        text-align: left;
        width: auto;
        height: 25px;
            @include breakpoint (baby-bear) {
                height: 15px;
            }
        padding: 5px;
    }
    a {
        text-decoration: none;
    }
    .cta {
        text-align: center;
        padding-left: 0;
        font-size: 12px;
        text-decoration: none;
    }
}

.product_wizard_724 #product-wijzer-container .container-wrapper .sections-container {
    width: 100%;
    display: inline-block;
    .section {
        width: 100%;
        @include breakpoint (stiff-mama-bear) {
            width: 50%;
            float: left;
        }
    }
}

.pdt_block_product_wizard #product-wijzer-container .container-wrapper .sections-container {
    width: 100%;
    display: inline-block;
    .section {
        width: 100%;
        @include breakpoint (stiff-mama-bear) {
            width: auto;
            float: none;
        }
    }
}

/*-----  End of Section CTA  ------*/

/*======================================
=            Color Swatches            =
======================================*/

#product-wijzer-container .container-wrapper .sections-container .tent .cta {
    background: #9c8d7b;
    &:hover {
        background: #7f6950;
    }
}
#product-wijzer-container .container-wrapper .sections-container .rugzak .cta {
    background: #ca7659;
    &:hover {
        background: #a56752;
    }
}
#product-wijzer-container .container-wrapper .sections-container .slaapzak .cta {
    background: #568ca4;
    &:hover {
        background: #3b6b7f;
    }
}
#product-wijzer-container .container-wrapper .sections-container .schoenen .cta {
    background: #6ea492;
    &:hover {
        background: #4c7768;
    }
}

/*-----  End of color swatches  ------*/