/**

	Product wizard - 02/09/2014
	A.S.Adventure

**/
/* import breakpoiints */
/*=============================================
=            BREAKPOINTS - A.S.Adventure       =
=============================================*/
/*-----  End of Section comment block  ------*/
/*=============================================
=            CONTAINER				            =
=============================================*/
#product-wijzer-container {
  margin: 0;
  padding: 0; }

#product-wijzer-container .container-wrapper {
  max-width: 100%;
  margin: 0;
  height: auto;
  border: 1px solid #d7dbdd; }
  @media only screen and (max-width: 766px) {
    #product-wijzer-container .container-wrapper {
      max-width: 100%;
      margin: 0; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    #product-wijzer-container .container-wrapper {
      max-width: 100%;
      margin: 0; } }

#product-wijzer-container .container-wrapper .title-container {
  width: auto;
  height: 100%;
  padding-top: 5px; }
  #product-wijzer-container .container-wrapper .title-container h1 {
    font-size: 15px;
    line-height: 25px;
    margin: 5px 0 0 10px; }
  #product-wijzer-container .container-wrapper .title-container:after {
    display: none; }

/*-----  End of Section comment block  ------*/
/*=============================================
=            	SECTION CTA  			       =
=============================================*/
#product-wijzer-container .container-wrapper .sections-container .cta {
  position: relative;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: block;
  vertical-align: middle;
  line-height: 36px;
  font-family: 'proxima_nova_rgbold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  font-weight: 600;
  width: 64%;
  height: 35px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding-left: 13px;
  margin: 14px auto; }
  #product-wijzer-container .container-wrapper .sections-container .cta .rugzak {
    background: red; }
  #product-wijzer-container .container-wrapper .sections-container .cta:after {
    content: "";
    /* box */
    width: 40px;
    height: 35px;
    float: right;
    /* background */
    background: url("../images/arrow-white.png") no-repeat center center; }

#product-wijzer-container .container-wrapper .sections-container {
  width: 100%;
  display: inline-block; }
  #product-wijzer-container .container-wrapper .sections-container .section {
    width: 100%; }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      #product-wijzer-container .container-wrapper .sections-container .section {
        width: 50%;
        float: left; } }
    @media only screen and (min-width: 767px) and (max-width: 979px) {
      #product-wijzer-container .container-wrapper .sections-container .section {
        width: 50%;
        float: left; } }
  #product-wijzer-container .container-wrapper .sections-container img {
    float: left;
    text-align: left;
    width: auto;
    height: 25px;
    padding: 1.5% 0 0 2%; }
    @media only screen and (min-width: 1200px) {
      #product-wijzer-container .container-wrapper .sections-container img {
        padding: 0.5% 0 0 1%; } }
  #product-wijzer-container .container-wrapper .sections-container a {
    text-decoration: none; }
  #product-wijzer-container .container-wrapper .sections-container .cta {
    text-align: center;
    padding-left: 0;
    font-size: 12px;
    text-decoration: none; }

/*-----  End of Section comment block  ------*/
/*======================================
=            Color Swatches            =
======================================*/
#product-wijzer-container .container-wrapper .sections-container .tent .cta {
  background: #9c8d7b; }

#product-wijzer-container .container-wrapper .sections-container .rugzak .cta {
  background: #ca7659; }

#product-wijzer-container .container-wrapper .sections-container .slaapzak .cta {
  background: #568ca4; }

#product-wijzer-container .container-wrapper .sections-container .schoenen .cta {
  background: #6ea492; }

/*-----  End of Section comment block  ------*/
